@(msg: String)
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <title>TelusIOT.com ALARM – Low Public IP Availability</title>
</head>

<body>
<h3>Hello, @msg</h3>
<p>
    this is an automated message from searchprod.com.
    Please do not respond to this message.
</p>
<p>This is an automated message.</p>
<p>
    <b>Please confirm your email at searchprod.com.</b>
</p>
<p>
    Remember to complete your profile.
</p>

<h4><i><u>Summary:</u></i></h4>
<table>
    <tr>
        <th>Name</th>
        <th>Account</th>
        <th>Total Offers</th>
    </tr>
    <tr>
        <td>@msg</td>
        <td>1234</td>
        <td>0</td>
    </tr>
</table>

<br />
<p>Thank you,</p>
<b>searchprod.com</b>

</body>
</html>
